In [2]:
#pip install pandas

Collecting pandas
  Using cached pandas-1.3.3-cp37-cp37m-win_amd64.whl (10.0 MB)
Collecting pytz>=2017.3
  Using cached pytz-2021.3-py2.py3-none-any.whl (503 kB)
Collecting numpy>=1.17.3
  Using cached numpy-1.21.2-cp37-cp37m-win_amd64.whl (14.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\mayank\python\envs\cataractdetection\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\mayank\python\envs\cataractdetection\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.2 pandas-1.3.3 pytz-2021.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("cataract.csv")

In [3]:
data.head()

,Age,Education,Occupation,Marital Status,Ethnicity,Religion,Weight(kg),Height(metres),BMI_Class,Use_Lenses,...,Hypertension,Hypertensive,Corticosteroid_medications,Past_Eye_surgery,Hormone_Replacement,Have_Myopia,Myopia_intensity,Alcohol,Alcohol_frequency,Risk_of_cataracts
0,25,University,Military,Married,Ibo,Islam,78,1.70,Overweight,No,...,No,No,No,Yes,No,No,Nil,Yes,Weekly,Low
1,27,University,Civil servant,Married,Yoruba,Christianity,70,1.55,Overweight,No,...,No,No,No,Yes,No,Yes,High,Yes,Weekly,Moderate
2,43,Polytechnic,Self,Married,Ibo,Christianity,85,1.53,Obese,Yes,...,No,No,No,Yes,No,No,Nil,Yes,Weekly,Low
3,31,University,Student,Single,Ibo,Christianity,84,1.65,Obese,Yes,...,No,Yes,No,No,No,No,Nil,Yes,Weekly,Moderate
4,8,Primary,Student,Single,Yoruba,Christianity,51,1.22,Obese,Yes,...,No,No,No,No,No,Yes,High,No,Nil,Low

In [4]:
data.columns

Index(['Age', 'Education', 'Occupation', 'Marital Status', 'Ethnicity',
       'Religion', 'Weight(kg)', 'Height(metres)', 'BMI_Class', 'Use_Lenses',
       'Family_History', 'Smoking', 'Smoke_Frequency', 'High_Cholesterol',
       'Diabetes', 'Hypertension', 'Hypertensive',
       'Corticosteroid_medications', 'Past_Eye_surgery', 'Hormone_Replacement',
       'Have_Myopia', 'Myopia_intensity', 'Alcohol', 'Alcohol_frequency',
       'Risk_of_cataracts'],
      dtype='object')

In [5]:
final_data=data[['Age', 'BMI_Class', 'Use_Lenses',
       'Diabetes','High_Cholesterol','Have_Myopia', 'Smoking',   'Alcohol', 
       'Risk_of_cataracts']]

In [6]:
final_data.head()

,Age,BMI_Class,Use_Lenses,Diabetes,High_Cholesterol,Have_Myopia,Smoking,Alcohol,Risk_of_cataracts
0,25,Overweight,No,Yes,No,No,Yes,Yes,Low
1,27,Overweight,No,Yes,Yes,Yes,Yes,Yes,Moderate
2,43,Obese,Yes,Yes,No,No,Yes,Yes,Low
3,31,Obese,Yes,Yes,No,No,Yes,Yes,Moderate
4,8,Obese,Yes,No,No,Yes,No,No,Low

In [7]:
pip install sklearn

Note: you may need to restart the kernel to use updated packages.

'C:\Users\ANURAG' is not recognized as an internal or external command,
operable program or batch file.

In [9]:
# Import label encoder
from sklearn import preprocessing

ValueError: source code string cannot contain null bytes

In [124]:
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()

In [125]:
final_data['Risk_of_cataracts']= label_encoder.fit_transform(final_data['Risk_of_cataracts'])

C:\Users\Mayank\Python\envs\cataractdetection\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [132]:
final_data.head()

,Age,Risk_of_cataracts,Use_Lenses_Yes,Diabetes_Yes,High_Cholesterol_Yes,Have_Myopia_Yes,Smoking_Yes,Alcohol_Yes
0,25,0,0,1,0,0,1,1
1,27,1,0,1,1,1,1,1
2,43,0,1,1,0,0,1,1
3,31,1,1,1,0,0,1,1
4,8,0,1,0,0,1,0,0

In [127]:
final_data=pd.get_dummies(final_data,drop_first=True)

#Storing the column names
columns_list=list(final_data.columns)
print(columns_list)

#Separating the input names from data
features=list(set(columns_list)-set(['Risk_of_cataracts']))
print(features)

['Age', 'Risk_of_cataracts', 'Use_Lenses_Yes', 'Diabetes_Yes', 'High_Cholesterol_Yes', 'Have_Myopia_Yes', 'Smoking_Yes', 'Alcohol_Yes']
['Use_Lenses_Yes', 'Alcohol_Yes', 'Diabetes_Yes', 'Age', 'Have_Myopia_Yes', 'Smoking_Yes', 'High_Cholesterol_Yes']

In [128]:
#Storing the values from input features
x=final_data[features].values
print(x)

#Storing the output values in y
y=final_data['Risk_of_cataracts'].values
print(y)

#To partition the data
from sklearn.model_selection import train_test_split

#Splitting the data into train and test
train_x,test_x,train_y,test_y = train_test_split(x,y,test_size=0.3,random_state=0)

[[ 0  1  1 25  0  1  0]
 [ 0  1  1 27  1  1  1]
 [ 1  1  1 43  0  1  0]
 [ 1  1  1 31  0  1  0]
 [ 1  0  0  8  1  0  0]
 [ 1  0  1 40  0  0  0]
 [ 1  0  0 12  0  0  0]
 [ 0  1  1 20  1  1  1]
 [ 1  1  1 30  1  1  0]
 [ 0  1  0 43  1  1  1]
 [ 0  1  1 50  0  0  0]
 [ 0  1  1 29  0  1  0]
 [ 0  1  1 43  0  1  0]
 [ 0  1  0 48  1  0  1]
 [ 0  1  1 60  0  0  0]
 [ 0  1  1 33  1  1  0]
 [ 0  1  0 30  1  0  0]
 [ 1  0  0  6  1  0  0]
 [ 1  0  0 12  1  0  0]
 [ 0  1  1 23  1  1  0]
 [ 0  1  0 25  1  1  0]
 [ 0  1  0 19  0  0  0]
 [ 0  0  1 35  1  0  1]
 [ 0  0  0 29  1  0  0]
 [ 0  1  0 21  0  0  0]
 [ 0  0  1 35  1  1  1]
 [ 0  1  1 38  1  1  1]
 [ 0  0  0 44  0  0  0]
 [ 0  1  0 23  0  0  1]
 [ 0  1  0 25  1  1  0]
 [ 0  0  0 20  0  0  0]]
[0 1 0 1 0 0 2 1 1 1 0 0 0 0 2 0 0 0 0 0 0 2 1 0 2 2 0 2 2 0 2]

In [129]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 10)

# Train the model on training data
rf.fit(train_x, train_y)

RandomForestClassifier(n_estimators=10)

In [130]:
# Use the forest's predict method on the test data
prediction3 = rf.predict(test_x)
print(prediction3)
prediction3= np.around(prediction3)

prediction3 = prediction3.astype(int)
print(prediction3)

# Confusion matrix
confusion_matrix3= confusion_matrix(test_y,prediction3)
print(confusion_matrix3)

# Accuracy calculation
accuracy_score3 = accuracy_score(test_y,prediction3)
print(accuracy_score3)

# Calculate the absolute errors
errors = abs(prediction3 - test_y)
print(errors)

# Missclassified values from prediction
print("Missclassified samples : %d" % (test_y != prediction3).sum())

[0 0 1 0 2 0 0 0 0 0]
[0 0 1 0 2 0 0 0 0 0]
[[6 1 0]
 [1 0 0]
 [1 0 1]]
0.7
[0 0 1 0 0 2 1 0 0 0]
Missclassified samples : 3

In [27]:
pip install numpy

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: numpy in c:\users\mayank\python\envs\cataractdetection\lib\site-packages (1.21.2)

In [28]:
import numpy as np

In [48]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [131]:
import pickle
# open a file, where you ant to store the data
file = open('random_forest_classifier_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)